@model MovieRentalMVC.Models.Home.CarouselMovieListModel;

@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/css/site.css" rel="stylesheet" />
}

<div class="container">
    <div class="page-header clearfix detailHeading">
        <h2><b>New Rentals</b></h2>
    </div>
</div>


<div class="jumbotron">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            @{
                int count = 0;
                foreach (var movie in Model.CarouselMovieList)
                {
                    if (count == 0)
                    {
                        <div class="item active">
                            <a asp-controller="Catalog" asp-action="Detail" asp-route-movieId="@movie.MovieId">
                                <img src="@movie.CroppedImageUrl" alt="@movie.Title" class="img-responsive" />
                            </a>
                            <div class="carousel-caption" role="option">
                                <p>
                                    @movie.Synopsis
                                </p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="item">
                            <a asp-controller="Catalog" asp-action="Detail" asp-route-movieId="@movie.MovieId">
                                <img src="@movie.CroppedImageUrl" alt="@movie.Title" class="img-responsive" />
                            </a>
                            <div class="carousel-caption" role="option">
                                <p>
                                    @movie.Synopsis
                                </p>
                            </div>
                        </div>
                    }
                    count++;
                }
            }
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

