@model MovieRentalMVC.Models.User.UserDetailModel;
@using MovieData.DataModels;
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="page-header clearfix detailHeading">
        <h2><b>@UserManager.GetUserName(User) Account Details</b></h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
                <h2>Current Checkouts</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Checkout Date</th>
                            <th>Return Date</th>
                            <th>Return</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var checkout in Model.Checkouts)
                        {
                            <tr>
                                <td>@checkout.MovieAssest.Movie.Title</td>
                                <td>@checkout.CheckoutDate</td>
                                <td>@checkout.ReturnDate</td>
                                <td>
                                    <button type="button" class="btn btn-primary">Return</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron">
                <h2>Current Holds</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Hold Placed</th>
                            <th>Disk Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var hold in Model.Holds)
                        {
                            <tr>
                                <td>@hold.Title</td>
                                <td>@hold.HoldDate</td>
                                <td>@hold.DiskType</td>
                                <td>
                                    <button type="button" class="btn btn-danger">Remove Hold</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>