@model MovieRentalMVC.Models.Catalog.MovieIndexListingModel
@using MovieData.DataModels

@section Styles
{
    <link href="~/css/CatalogIndex.css" rel="stylesheet" />
}

<tr>
    <td>
        <a asp-controller="Catalog" asp-action="Detail" asp-route-movieId="@Model.MovieId">
        <img src="@Model.PosterUrl" class="imageCell" />
        </a>
    </td>
    <td>@Model.Title</td>
    <td>
        @{
            foreach (MovieGenre mGenre in Model.MovieGenre)
            {
                <span>
                @mGenre.Genre.GenreType
                </span>
            }
            var value = Model.MovieId;
            Console.WriteLine(value);
        }

    </td>
    <td>@Model.Director.FirstName @Model.Director.LastName</td>
    <td><a asp-controller="Catalog" asp-action="Detail" asp-route-movieId="@Model.MovieId">Details</a></td>
</tr>