@model MovieRentalMVC.Models.Catalog.MovieIndexListingModel

@section Styles {
    <link href="~/css/CatalogIndex.css" rel="stylesheet" />
}

<tr>
    <td>
        <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@Model.MovieId">
            <img src="@Model.PosterUrl" class="imageCell" />
        </a>
    </td>
    <td>@Model.Title</td>
    <td>@Model.Genre</td>
    <td>@Model.Director.FirstName @Model.Director.LastName</td>
    <td><a asp-controller="Catalog" asp-action="Detail" asp-route-id="@Model.MovieId">Details</a></td>
</tr>